# Python Virtual Environment
venv/
.venv/
.venv-1/
env/

# Local environment secrets
.env

# OmniPulse Analytics Local Storage
temp_data/
*.parquet

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db